// Breadcrumb SCSS Style
.breadcrumb {
	font-size: ($font-size-base * 0.75);
	margin: 1.5rem 0;
	text-transform: uppercase;

	.breadcrumb-item {
		content: "";
	}

	a {
		color: $secondary;
		text-decoration: none;

		&:focus,
		&:hover {
			text-decoration: underline;
		}
	}
}
