// Navbar SCSS Style
.navbar {
	height: $navbar-height;
}

.navbar-light {
	background-color: $white;
}

.navbar-brand {
	align-items: center;
	color: $secondary;
	font-weight: 600;
	display: inline-flex;
	text-transform: uppercase;

	i {
		color: darken($warning, 2);
		font-size: 1.7rem;
		margin-right: 10px;
	}
}

.nav-link {
	i {
		margin-right: 5px;
	}
}
