@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Poppins:wght@300;400;500;700&display=swap");

// font-family: 'Lato', sans-serif;
// font-family: 'Rubik', sans-serif;

// Custom SCSS Variables
$lightBlue: #ebeef5;
$blue: #2163a5;
$secondary: #666666;

// Custom Webfonts
$font-family-base: "Lato", sans-serif;
$font-family-heading: "Poppins", sans-serif;

// Navbar
$navbar-height: 60px;
